body{
    background-image: url('colors.jpg');
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100vh;

}

h2,button,span,h1{
    font-family:cursive ;
}
.Game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}
#bigbox{
    background-color: white;
    border: 5px solid black;
    height: 650px;
    width: 650px;
    display: flex; 
}
button{
    height: 30px;
    width: fit-content;
    border-radius: 10px;
}

