body{
    background-color: rgb(65, 11, 44);
}

.Game{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bigbox{
    background-color: white;
    border: 1px solid black;
    height: 650px;
    width: 650px;
    display: flex;
    
}

